.footNav_wrapper {
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100vw; */
    /* width: 100%; */
    width: auto;
    padding: 24px 60px;
}

.left-btn__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.right-btn__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    
    /* transform: translateX(-20px); */

    /* opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease, transform 0.6s ease; */
}

.btn-frame {
    position: relative;
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) ;
    transition: all 300ms ease;
    cursor: pointer;
}

.left-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -30%) rotate(135deg) scale(0.9);
    color: black;
}

.right-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(30%, -60%)  scale(0.9);
    color: black;
}

.left-btn__wrapper .btn-frame:hover {
    transform:rotate(45deg) scale(1.05);
}

.right-btn__wrapper .btn-frame:hover {
    transform:rotate(45deg) scale(1.05);
}

.btn-content {
    font-weight: bold;
}

.inner-content {
    display: none;
}


@media (max-width:640px) {

    .left-play, .right-play {
        display: none;
    }

    .btn-content {
        display: none;
    }

    .inner-content {
        display: block;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg) ;
        font-size: 12px;
        font-weight: bold;
    }
}