
.wrapper {
    width: 100%;
    height: calc(100vh-80px);
    background: black;
    overflow: hidden;
}

.video_area {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.take__photo {
    position: fixed;
    top: 48%;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    /* color: white; */
}

.para {
    color: white;
}

.takePhotoIcon {
    color: black;

    background-color:black;
    border-radius: 50%;

    transition: all 300ms ease;
}

.takePhotoIcon:hover {
    transform: scale(1.1);
}

.discriptions {
    position: fixed;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-align: center;
}

.methods__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    padding: 32px;
}

.method {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}

.small__square {
    border: 1px solid white;
    /* background-color: blueviolet; */
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.row_wrapper {
    position: fixed;
    bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 24px 48px;
}

.left-btn__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}


.btn-frame {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) ;
    transition: all 300ms ease;
    cursor: pointer;
}

.left-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -30%) rotate(135deg) scale(0.9);
    color: white;
}


.left-btn__wrapper .btn-frame:hover {
    transform:rotate(45deg) scale(1.05);
}

.btn-content {
    font-weight: bold;
    color: white;
}

.inner-content {
    display: none;
}

.retake__title {
    position: fixed;
    top: 24%;
    left: 50%;
    transform: translate(-50, -50%);
    color: white;
}

.retake__wrapper {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-align: center;
}

.preview__para {
    font-weight: 700;
    margin-bottom: 24px;
}

.btn__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}

.retake {
    background-color: #fcfcfc;
    color: #1a1a1a;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.retake:hover {
    background-color: #fcfcfcaa;
}

.UseThisPhoto {
    background-color: #1a1b1c;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.UseThisPhoto:hover {
    background-color: #1a1a1a99;
}