
.wrapper {
    width: 100%;
    height: calc(100vh-80px);
    background: black;
    overflow: hidden;
}

.video_area {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.take__photo {
    position: fixed;
    top: 48%;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    /* color: white; */
}

.para {
    color: white;
}

.takePhotoIcon {
    color: black;

    background-color:black;
    border-radius: 50%;

    transition: all 300ms ease;
}

.takePhotoIcon:hover {
    transform: scale(1.1);
}

.discriptions {
    position: fixed;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-align: center;
}

.methods__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    padding: 32px;
}

.method {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}

.small__square {
    border: 1px solid white;
    /* background-color: blueviolet; */
    width: 8px;
    height: 8px;
    margin: 4px;
    display: flex;
    align-items: start;
    transform: rotate(45deg);
}
.method span {
    text-align: left;
}

.row_wrapper {
    position: fixed;
    bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 24px 48px;
}

.left-btn__wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}


.btn-frame {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) ;
    transition: all 300ms ease;
    cursor: pointer;
}

.left-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -30%) rotate(135deg) scale(0.9);
    color: white;
}


.left-btn__wrapper .btn-frame:hover {
    transform:rotate(45deg) scale(1.05);
}

.btn-content {
    font-weight: bold;
    color: white;
}

.inner-content {
    display: none;
}

.retake__title {
    position: fixed;
    top: 24%;
    left: 50%;
    transform: translate(-50, -50%);
    color: white;
}

.retake__wrapper {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    text-align: center;
}

.preview__para {
    font-weight: 700;
    margin-bottom: 24px;
}

.btn__wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 24px;
    font-size: 14px;
}

.retake {
    background-color: #fcfcfc;
    color: #1a1a1a;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.retake:hover {
    background-color: #fcfcfcaa;
}

.UseThisPhoto {
    width: 136px;
    background-color: #1a1b1c;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.UseThisPhoto:hover {
    background-color: #1a1a1a99;
}

.loading_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 128px;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(200, 200, 200, 0.7);
    background: transparent;
    border: 1px solid #1A1B1C9F;
    border-radius: 8px;

    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.4);
    pointer-events: none;

    z-index: 999;
    gap: 16px;
}

.analysis {
    font-size: 20px;
    color: #1A1B1C9F;
    margin-bottom: 24px;
}

@media (max-width:640px) {
    .methods__wrapper{
        padding: 24px 8px;
        gap: 0px;
        justify-content: space-evenly;
    }

    .discriptions {
        font-size: 14px;
    }
    .method {
        font-size: 12px;
        min-width: 128px;
    }
}