.progress-container {
    position: absolute;
    width: 384px;
    height: 384px;
    top: 20%;
    right: 20%;
}

.circle-svg {
    width: 100%;
    height: 100%;
    display: block;
}

.progress-circle {
    fill: none;
    stroke-width: 2;
    transform: rotate(-90deg);
    transform-origin: center;
}

.progress-background {
    stroke: #e0e0e0;
}

.progress-foreground {
    stroke: #000;
    stroke-linecap: round;
    transition: stroke-dasharray 0.5s ease-in-out;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

@media (max-width:768px) {
    .progress-container {
        position: relative;
        width: 308px;
        height: 308px;
        top: auto;
        right: auto;
    }
}