
.nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 12px 36px;
    max-height: 80px;
}

.name__wrapper {
    gap: 16px;
    font-size: 14px;
    padding: 16px 8px;
    display: flex;
    cursor: pointer;
}

.name {
    font-weight: 700;
}

.intro {
    color: #1a1b1c83;
}

.code {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 8px;
}

.left_part , .right_part {
    position: fixed;
    top: 25%;

    height: 400px;
    width: 400px;
    /* transform: rotate(45deg); */
    border: 1px dotted #1a1b1c83;

    transition: all 0.5s ease-in-out; /*for animation*/
}

.left_part {
    left: 0;
    transform: translateX(-60%) rotate(45deg) ;
}

.right_part {
    right: 0;
    transform: translateX(60%) rotate(45deg) ;
}

.title__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;

    transition: all 0.5s ease-in-out; /*for animation*/
}

.second {
    padding-left: 16px;
    transition: all 0.5s ease-in-out;
}

.description {
    position: fixed;
    bottom: 48px;
    left: 28px;
    line-height: 1.2;
    font-size: 16px;
    text-transform: uppercase;
}

.left-btn__wrapper {
    position: fixed;
    top: 50%;
    left: 120px;
    transform: translate(-50%, -130%);
    display: flex;
    align-items: center;
    gap: 16px;

    transition: all 0.5s ease-in-out;
}

.right-btn__wrapper {
    position: fixed;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -130%);
    display: flex;
    align-items: center;
    gap: 16px;

    transition: all 0.5s ease-in-out;
}

.btn-frame {
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg) scale(0.9);
    transition: all 300ms ease;
    cursor: pointer;
}

.left-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -30%) rotate(135deg) scale(0.9);
    color: black;
}

.right-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(30%, -60%)  scale(0.9);
    color: black;
}

.left-btn__wrapper .btn-frame:hover {
    transform:rotate(45deg) scale(1.05);
}

.right-btn__wrapper .btn-frame:hover {
    transform:rotate(45deg) scale(1.05);
}

/* animations */
@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

.title__wrapper p {
    animation-name: slideUpFadeIn;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.24, 0.46, 0.45, 0.94);
    animation-fill-mode: backwards;
}

.title__wrapper .top {
    animation-delay: 0.3s;
}

.title__wrapper .second {
    animation-delay: 0.6s;
}

#animation-container {
    position: relative;
    /* height: 100vh;
    width: 100vw; */
}

.hover-left #middle-text {
    /* text-align: right; */
    transform: translate(20%, -50%);
}
.hover-left .second {
    transform: translateX(25%);
}

.hover-left #right-btn,
.hover-left #right-frame {
    opacity: 0;
    transform: tranlateX(100%) scale(0);
}

.hover-right #middle-text {
    text-align: left;
    transform: translate(-100%, -50%);
}
.hover-right .second {
    transform: translateX(-30%);
}

.hover-right #left-btn,
.hover-right #left-frame {
    opacity: 0;
    transform: translateX(-100%) scale(0);
}

.outside_frame, .inner_frame {
    display: none;
}

.enter {
    display: none;
}

@media (max-width:1024px) {
    .left_part , .right_part,
    .left-btn__wrapper, .right-btn__wrapper {
        display: none;
        opacity: 0;
    }

    .title__wrapper {
        top: 42%;
        font-size: 60px;
        transform: translate(-50%, -50%);
    }
    
    .outside_frame, .inner_frame {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        border: 1px dotted #1a1b1c83;
        display: block;
    }

    .outside_frame {
        width: 420px;
        height: 420px;
    }
    
    .inner_frame {
        width: 350px;
        height: 350px;
    }

    .description {
        /* font-size: 14px; */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
        text-transform: none;
        max-height: fit-content;
        width: 300px;
        text-align: center;
        line-height: 1.5;
    }

    .enter {
        display: flex;
        font-size: 12px;
        font-weight: bold;
        gap: 16px;
        align-items: center;
        position: fixed;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.95);
        transition: all 300ms ease;
        cursor: pointer;
    }

    .enter:hover {
        transform: translate(-50%, -50%) scale(1.05);
    }
}

@media (max-width: 768px) {
    .title__wrapper {
        top: 40%;
    }

    .description {
        top: 47%;
    }

    .enter {
        top: 58%;
    }
}

@media (max-width: 640px) {
    .outside_frame, .inner_frame {
        transform: translate(-50%, -50%) rotate(45deg) scale(0.8);
    }
    .title__wrapper {
        font-size: 44px;
        font-weight: 300;
    }

    .description {
        font-size: 14px;
    }

    .enter {
        transform: translate(-50%, -50%) scale(0.8)
    }
}